<%= form_for @question,:html => {:class => "form-horizontal center"} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <p><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</p>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :title,class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :title, class:"form-control" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :category,class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :category, class:"form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :quest,class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_area :quest, as: :wysihtml5,class:"wysihtml5 form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :answer,class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_area :answer,id:'code'%>
    <div id="editor"/>
    </div>
  </div>
<hr>

<div class="col-sm-2"></div>
<div class="col-sm-10">
    
    <%= f.submit "Submit",:class=>"btn btn-success btn-lg" %>
  </div>
<button class="btn btn-success" id="run">Run</button>
<div id="result" class="well col-sm-12">
</div>
<% end %>
    <script>
        var textarea = $('#code').hide();
        var editor = ace.edit("editor");

        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
          textarea.val(editor.getSession().getValue());
        });

        editor.setTheme("ace/theme/twilight");
        var pymode = ace.require("ace/mode/python").Mode;
        editor.session.setMode(new pymode());
      
         var disable = false;
    $("#run").click(function(){
      $("#result").html("Executing...");

      if (!disable){
        $("#run").addClass("disabled");
        disable = true;
        var request = $.ajax({
          url: "<%= run_path %>",
          method: "POST",
          data: { code : editor.getValue() },
          dataType: "html"
        });
        request.done(function( msg ) {
          $("#run").removeClass("disabled");
          disable = false;
          $( "#result" ).html("<h3>Run Result</h3><br />"+msg.replace(/(?:\r\n|\r|\n)/g, '<br />'));
        });
      }

    });
      
      
</script>
<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
    
  })
</script>
