<p id="notice"><%= notice %></p>

<h1>Question List</h1>

<% if params[:search] %>
  <h4>Search:<%= params[:search] %></h4>
<% end %>
<% if params[:type] %>
  <h4>Category:<%= params[:type] %></h4>
<% end %>
<hr>
<%= link_to 'New Question', new_question_path,class:"btn btn-success" %>
<div class="row">
   <% if @questions.length == 0 %>
    <h3> there is not question here! </h3>
   <% end %>


    <% @questions.each do |question| %>
        <div class="col-md-6" style="height:200px">
        <h3><%= link_to question.title, question %></h3>
        <%
          if question.category.nil?
            question.category = ""
          end
         %>
        <p>
          <% question.category.split(";").each do |cat| %>
          <a href="<%= questions_path(type:cat) %>" > <span class="label label-primary"><%= cat %></span></a>
          <% end %>
        </p>
        
        
      </div>
    <% end %>

</div>
