<p id="notice"><%= notice %></p>

  <h2><%= @question.title %></h2>
  <p>
    <% @question.category.split(";").each do |cat| %>
    <a href="<%= questions_path(type:cat) %>" ><span class="label label-primary"><%= cat %></span></a>
    <% end %>
  </p>
  <div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Edit', edit_question_path(@question),class:"btn btn-warning btn" %>

  <%= link_to 'Back', questions_path,class:"btn btn-info" %>
  <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
  </div>
  <hr>

  <%= @question.quest.html_safe  %>


<p>
  <strong>Answer:</strong>
  <div id="editor"><%= @question.answer %></div>
</p>
<button class="btn btn-success" id="run">Run</button>
<div id="result" class="well">

</div>


<script>
    var editor = ace.edit("editor");

    editor.setTheme("ace/theme/twilight");
    var pymode = ace.require("ace/mode/python").Mode;
    editor.session.setMode(new pymode());
    var disable = false;
    $("#run").click(function(){
      $("#result").html("Executing...");

      if (!disable){
        $("#run").addClass("disabled");
        disable = true;
        var request = $.ajax({
          url: "<%= run_path %>",
          method: "POST",
          data: { code : editor.getValue() },
          dataType: "html"
        });
        request.done(function( msg ) {
          $("#run").removeClass("disabled");
          disable = false;
          $( "#result" ).html("<h3>Run Result</h3><br />"+msg.replace(/(?:\r\n|\r|\n)/g, '<br />'));
        });
      }

    });
</script>
